@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(https://fonts.gstatic.com/s/cookie/v7/5eiDWXYu_7xmow8ddgvSIOvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula'), local('Khula-Regular'), url(http://fonts.gstatic.com/s/khula/v1/o75qJfGxtQmF0aLh4-Fr5qCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.half-width {
    width: 50%;
}

body {
    height: 100%;
    font-family: 'Khula', sans-serif;
}

h1 {
    font-size: 55px;
}

h1, h2 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.title {
    font-family: 'Cookie', cursive;
    text-transform: none;
}

.frontTitle {
    margin-left: 25px;
    margin-top: 0;
}

hr {
    width: 50%;
}

canvas {
    width: 400px;
    height: 750px;
}

.sign-in-form {
        float: none;
        position: relative;
        top:30px;
        margin: 0 auto;
    }
#col1 {
        float: right;
        padding-right: 10px;
        width: 33%;
}

#col2 {
    float: right;
    padding-right: 10px;
    width: 33%;
}

 #col3 {
    float:right;
    padding-top: 25px;
    width: 20%;
    }
@media (min-width: 768px) {
    .sign-in-form {
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        float: left;
    }
    #col1 {
        float: right;
        margin-right: 10px;
    }

    #col2 {
        float: right;
        padding-right: 20px;
    }

    #col3 {
        float:right;
        padding-top: 25px;
    }
}

.sign-up-form {
    margin-top: 75px;
    background-color:rgba(0,0,0,0.8);
    padding: 20px 30px 10px 30px;
}

@media (min-width: 768px) {
    .sign-up-form {
        margin-left: 20%;
        margin-right: 20%;
}
}

@media (min-width: 995px) {
    .sign-up-form {
        margin-left: 25%;
        margin-right: 25%;
}
}

.sign-up-form h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

#aboutPage {
    background-color: white;
    margin: 50px;
}

@media (min-width: 768px) {
    #aboutPage {
        width: 50%;
        margin: 100px 25% 100px 25%;
    }
}

.index {
    font-size: 12pt;
}

#front {
    padding: 20px 20px 100px 20px;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url("http://ei.marketwatch.com//Multimedia/2015/09/21/Photos/ZH/MW-DU756_Stock_20150921172954_ZH.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.incorrectLogin {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    color: red;
}

@media (min-width: 768px) {
    .incorrectLogin {
        position: absolute;
        text-transform: uppercase;
        top: 90px;
        right: 150px;
        float: right;
        text-align: left;
    }
}

footer {
    color: white; 
    background-color: #193366;
    padding: 20px;
    text-align: center;
    font-size: 15pt;
}

footer ul {
    padding-left:0;
}

footer li {
    margin: 0;
    list-style-type: none;
    padding-left:0;
    margin: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: beige;
}

/*When the window size changes, the graph gets exponentially large*/
.stock-chart {
    color: white;
    width: 500px;
    /*height: 900px;*/
}

@media (max-width: 768px) {
    #leftSidebar li {
        display: inline-block;
        padding-left: 0;
        font-size: 14px;
    }
    .welcome-back {
         visibility: hidden;
         width: 0;
         height: 0;
     }
}

#leftSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 20px;
    text-align: center;
    background-color: #193366;
    color: white;
    z-index: 1;
}

#leftSidebar li {
    margin: 20px;
    list-style-type: none;
    padding-left:0;
}

#leftSidebar a {
    color: white;
}

#leftSidebar a:hover {
    color: white;
}

#loggedInMain, #personal-timeline {
    position: absolute;
    left: 0;
    z-index: 0;
    margin: 15px;
    width: 90%;
}
#loggedInMain {
    top: 350px;
}
.stock-chart {
    width: 90%;
}
.stock-table {
    width: 80%;
}

 @media (min-width: 510px) {
     #loggedInMain, #personal-timeline {
         top: 250px;
     }
 }

@media (min-width: 768px) {
    #leftSidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        padding: 0;
        padding-top: 5vh;
    }
    #loggedInMain, #personal-timeline {
        position: relative;
        left: 300px;
        top: 20px;
        width: 400px;
    }
    .stock-chart, .stock-table {
        width: 400px;
    }
}
@media (min-width: 850px) {
    #loggedInMain, #personal-timeline {
        width: 500px;
    }
    .stock-chart, .stock-table {
        width: 500px;
    }
}
@media (min-width: 986px) {
     #loggedInMain, #personal-timeline {
         width: 586px;
     }
     .stock-chart, .stock-table {
        width: 586px;
    }
}

@media (min-width: 1200px) {
     #loggedInMain, #personal-timeline {
         width: 786px;
     }
     .stock-chart, .stock-table {
        width: 786px;
    }
}

@media (min-width: 1500px) {
    #leftSidebar {
        width: 20%;
        font-size: 1.5vw;
    }
    #loggedInMain, #personal-timeline {
        left: 23%;
         width: 1086px;
     }
     .stock-chart, .stock-table {
        width: 886px;
    }
}

@media (min-width: 2000px) {
     #loggedInMain, #personal-timeline {
         width: 1286px;
     }
     .stock-chart, .stock-table {
        width: 986px;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 1vw;
    }
    .sign-up-form h1 {
        font-size: 2vw;
    }
    h1 {
        font-size: 3vw;
    }
    h2 {
        font-size: 1.5vw;
    }
    h3 {
        font-size: 1vw;
    }
    footer {
        font-size: 1vw;
    }
}

.stock-chart-title {
    color: black;
}
.gentle-title {
    text-transform: none;
}
.buy-sell {
    width: 50%;
}
.buy-sell-container {
    width: 25%;
    font-size: 10pt;
}
.cancel-container {
    margin-top: auto;
}
.well {
    margin-bottom: 0.5em;
}
.cancel-container > button {
    width: 50%;
}
#timelineGraph li{
    list-style-type: none;
    padding-left:0;
    display: inline-block;
}

/*#firstRow {
    text-transform: uppercase;
}*/

#settings {
    position: absolute;
    line-height: 30px;
    left: 10%;
    top: 300px;
    width: 80%;
}

@media (min-width: 768px) {
    #settings {
        position: relative;
        left: 300px;
        top: 20px;
        width: 500px;
    }
}

@media (min-width: 989px) {
    #settings {
        left: 300px;
        top: 20px;
        width: 700px;
    }
}

#deactivateBtn {
    text-align: center;
}
.welcome-back {
    font-size: 12pt;
}
.cash {
    font-weight: bold;
    color: rgb(105, 224, 143);
}
strong {
    margin-right: 1em;
}
.democrat {
    background-color: rgb(193, 217, 255);
}
.republican {
    background-color: rgb(254, 194, 199);
}
.settings-option {
    font-style: italic;
    color: blue;
    padding-left: 40px;
}

.go-buy-stocks {
    margin-top: 5em;
    text-align: center;
    font-size: 14pt;
}
.text-danger {
    text-align: center;
}
.purchase-info {
    color: blue;
}
.settings-option {
    cursor: pointer;
}
.bankruptcy-button {
    font-weight: bold;
    color: red;
    cursor: pointer;
}
.cancel-bankruptcy-button {
    cursor: pointer;
    margin-top: 1em;
    color: black;
    font-size: 24pt;
    padding: 0.5em;
}